/* css styles */
body {color: black;
    font-family: 'Helvetica Neue', sans-serif;}
.navbar {font-size: 1.0rem;
         font-weight: 600;
         text-transform: uppercase;}

.navbar-dark, .navbar[data-bs-theme=dark] {
            background: darkslategrey;
        height: 50px;}

div.quarto-post .thumbnail img {margin-top: .4em;
                                width: 10em;
                                object-fit: cover;}